/* Original dimensions: 1920x1080 */
#header-bg {
    width: 100%;
    height: 100%;
    z-index: auto;
    /*margin-bottom: -5px;*/
}

/* Original dimensions: 1000x650 */
#flashcards-img {
    width: 800px;
    height: 520px;
    border: 5px solid darkred;
}

/* Original dimensions: 627x349 */
#piano-img {
    width: 627px;
    height: 349px;
}

.about img {
    width: 600px;
    height: 450px;
}
