/*Reset to defaults for all browsers*/

* {
    margin: 0;
    padding: 0;
    /*background-color: black;*/
    /*color: white;*/
}

/*======= Grid layout ===============================================*/

/*.navigation { grid-area: navigation; }*/
/*.header { grid-area: header; }*/
/*.about { grid-area: about; }*/
/*.portfolio { grid-area: portfolio; }*/
/*.footer { grid-area: footer; }*/

/*.container {*/
/*    display: grid;*/
/*    grid-template-areas:*/
/*    "navigation navigation navigation navigation"*/
/*    "header header header header"*/
/*    "about about about about"*/
/*    "portfolio portfolio portfolio portfolio"*/
/*    "footer footer footer footer";*/
/*    !*grid-gap: 10px;*!*/
/*    background-color: #2196F3;*/
/*    !*padding: 10px;*!*/
/*}*/

.container {
    display: flex;
    flex-direction: column;
    background-color: #2196F3;
}

/*===================================================================*/

/*======= Top navigation bar =========================================*/

.navigation ul {
    background-color: #333;
    list-style-type: none;
    overflow: hidden;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    z-index: 1;
}

.navigation li {
    float: left;
}

.navigation a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: mediumpurple;
}

.navigation a:hover {
    background-color: #111;
    color: white;
}

/*===================================================================*/

/*======= Header section ============================================*/
/*.header {*/
/*    margin-top: 45px;*/
/*}*/

.header-background {
    position: relative;
    text-align: center;
    color: yellow;
}

.header-title {
    position: absolute;
    bottom: 20%;
    left: 10%;
}

/*===================================================================*/

/*======= About section =============================================*/
.about {
    background-color: lightgreen;
    text-align: center;
    /*margin-top: -5px;*/
}

.about p {
    text-align: left;
}

/*===================================================================*/

/*======= Portfolio section =========================================*/
.portfolio {
    background-color: mediumpurple;
    text-align: center;
}

.portfolio img {

}

/*===================================================================*/

/*======= Footer section ============================================*/
.footer {
    background-color: #2196F3;
    text-align: center;
}

/*@media (max-width: 500px) {*/
/*    .grid-container {*/
/*        grid-template-columns: 1fr;*/
/*        grid-template-areas:*/
/*      "header"*/
/*      "main"*/
/*      "sidebar"*/
/*      "footer";*/
/*    }*/
/*}*/

/*===================================================================*/

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 3px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 80%;
}

.window.active {
    transform: translate(-50%, -50%) scale(1);
}

.window h3 {
    padding: 10px 15px;
    border-bottom: 1px solid black;
    font-size: 1.25rem;
}

.window p {
    padding: 10px 15px;
}

.close-window {
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: bold;
    padding: 5px 5px;
    margin: 10px 0;
    border-radius: 5px;
}

#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
}

#overlay.active {
    opacity: 1;
    pointer-events: all;
}



.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.nav-link {
    visibility: visible;
}
